ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

a:visited {
    color: white;
}

a:hover{
    font-size:17px;
}

ul{
    display: flex;
}

.spacer {
    flex: 1 1 auto;
}

button {
    font-size: 16px;
}

button:hover {
    font-size:17px;
}