
.container {
    width: 100%;
}

.content {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    width: 100%;
}

.message {
    align-self: center;
    margin-right: 2rem;
}

.links {
    align-self: center;
    margin-left: 2rem;
}

p {
    font-size: 14px;
}

a {
    text-decoration: none;
    font-size: 14px;
    color: white;
}

a:hover {
    font-size: 15px;
    color: whitesmoke;
}